@{
    ViewData["Title"] = "Home Page";
}

<h1 class="aboutTextHeading">- Our Mission -</h1>

<p class="aboutTextInfo">
    To provide the most actionable cars and parts dealer.
</p>

<div class="container col-md-12">
    <div class="jumbotron">
        <h1>Hyper Cars</h1>
        <br />
        <p>
            Hyper Cars is a clever solution for your car problems.
        </p>
    </div>
</div>

<div class="container col-md-12">
    <p class="aboutTextAdditionalInfo">
        Hyper Cars is a website where you can buy your dream car. In addition if your own car needs to be repaired you can purchase the necessary parts.
    </p>
</div>